@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}


*::selection {
    background-color: #5b5;
    color: #151;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
    background-color: #000;
}

.container {
    background-image: linear-gradient(-45deg, #000 59%, #eee 59%, #eee 60%, #2f2 60%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-card * {
    font-weight: 700;
}

.form-card {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.form-card h2 {
    padding: 10px;
    align-self: flex-start;
    color: #eee;
}

.form-card input, 
.form-card button {
    font-size: 1rem;
    padding: 15px;
    margin: 5px;
    border-radius: 30px;
}

.form-card input {
    background-color: #444;
    color: #8e8;
}

.form-card button {
    cursor: pointer;
    transition: background-color 0.25s;
}

.form-card button:hover {
    background-color: #8e8;
}

.form-card button, 
.form-card h2,
.form-card p {
    user-select: none;
}

.form-card p {
    padding: 10px;
    cursor: pointer;
    color: #fff;
    transition: color 0.25s;
    font-size: small;
    font-weight: 500;
}

.form-card p:hover {
    color: #8e8;
}

.invisible-card {
    display: none;
}